<HTML>
    <BODY>
        <form action="{{url_for('addentry')}}" method="POST">
            <H2>
                Baking contest entry information
            </H2>

            Name of Baking Item<br>
            <INPUT TYPE="text" name="Name"><br>

            Number of Excellent Votes<br>
            <INPUT TYPE="text" name="Excellent"><br>

            Number of Ok Votes<br>
            <INPUT TYPE="text" name="Ok"><br>

            Number of Bad Votes<br>
            <INPUT TYPE="text" name="Bad"><br>

            <INPUT TYPE="submit"><br>
        </form>
    </BODY>
</HTML>